<nav class="navbar px-5 py-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="{{ url_for('main.index') }}"><h2><b>Simple Strava Dashboard</b></h2></a>
  </div>
  </div>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div {% if page=="index" %} class="navbar-item navlik-is-active" {% else %} class="navbar-item" {% endif
        %}>
        <a href="{{ url_for('main.index') }}">Home</a>
      </div>
      {% for plot in plots %}
          <div {% if page==plot %} class="navbar-item navlik-is-active" {% else %} class="navbar-item" {% endif
            %}>
              <a href="{{ url_for('main.activity', name= plot) }}">
              {{ plot }}
          </a>
          </div>
            {% endfor %}
            <div {% if page=="settings" %} class="navbar-item navlik-is-active" {% else %} class="navbar-item" {% endif
              %}>
              <a href="{{ url_for('main.settings') }}">Settings</a>
            </div>
    </div>
  </div>
</nav>
