<nav class="navbar is-transparent pt-5">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('main.index') }}"><h2><b>NAME HERE</b></h2></a>
    </div>
      <div class="navbar-start">  
          </div>
      <div class="navbar-end">
        {% for plot in plots %}
            <div class="navbar-item">
                <a href="{{ url_for('main.activity', name= plot) }}">
                {{ plot }}
            </a>
            </div>
              {% endfor %}
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <form action="{{ url_for('main.retrieve') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Retrieve data',class="button is-primary is-pulled-right") }}
            </form>
            </p>
          </div>
        </div>
      </div>
</nav>