{% extends "base.html" %}
{% block content %}
<div class="columns is-mobile">
  <div class="column">
    <div class="p-5 m-5">
      <div class="has-text-centered ">
        <p class="section-titles"><b>{{ this_year }}</b> results </p>
      </div>
        <div class="plot-box">
        {% include "_all_activities_piechart.html" %}
      </div>
    </div>
    <div class="p-5 m-5">
      <div class="has-text-centered	section-titles">
        <p>Distance</p>
      </div>
      <div class="plot-box">
      {% include "_all_activities_barchart.html" %}
    </div>
    </div>
            <div class="p-5 m-5">
              <div class="has-text-centered	section-titles">
                <p>All activities</p>
              </div>
              <div class="plot-box p-5">
            {% include '_activity_table.html' %}
          </div>
          </div>
        </div>
        </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bulma.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bulma.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bulma.min.js"></script>
<script src="{{url_for('static', filename='js/utilities.js')}}"></script>
<script src="{{url_for('static', filename='js/datatable.js')}}"></script>
{% endblock %}

